/* Абсолютные - px(не подвержено изменению)
Относительные - em, rem (на них умножается значение, ем наследуют значение, rem нет)
% - у каждого св-ва рассчитываются по разному
% ширины рассчитвается от родитля как и высота
% в позитион рассчитывается так:
top - от высоты родителя
left -   от ширины
% падинг рассчитывается от ширины родителя, маржин
% транслейт по вертикали рассчитывается от высоты обьекта
% фонт сайза рассчитывается от процента родителя. работает как с емами
% лайн хайта рассчитывается он фонт сайза элемента
vh - работает от высоты видимой области страницы
vw -  работает от ширины выдимой области страницы
vmin - работает от того, что меньше (высота или ширина)
vmax - работет от того, что больше (высота или ширина)
*/

.block {
  background-color: red;
  height: 50vmin;
  width: 70vmin;
}